
[manual_stepper stepper_a]
step_pin: A_STEP
dir_pin: A_DIR
enable_pin: !A_EN
endstop_pin: ^A_STOP
microsteps: 8
full_steps_per_rotation: 200
rotation_distance: 6.2831 # 2*Pi
#full rotation in either direction
position_min:-6.2831
position_endstop: 0
position_max: 6.2831

[manual_stepper stepper_b]
step_pin: toolhead:B_STEP
dir_pin: toolhead:B_DIR
enable_pin: !toolhead:B_EN
endstop_pin: ^toolhead:B_STOP
microsteps: 8
full_steps_per_rotation: 200
rotation_distance: 6.2831 # 2*Pi
#full rotation in either directions
position_min:-6.2831
position_endstop: 0
position_max: 6.2831

[delayed_gcode init_axes]
initial_duration: 0.1
gcode:
    MANUAL_STEPPER STEPPER=stepper_a GCODE_AXIS=A
    #MANUAL_STEPPER STEPPER=stepper_a GCODE_AXIS=A LIMIT_VELOCITY=500 LIMIT_ACCEL=1000
    MANUAL_STEPPER STEPPER=stepper_b GCODE_AXIS=B
    #MANUAL_STEPPER STEPPER=stepper_b GCODE_AXIS=B LIMIT_VELOCITY=500 LIMIT_ACCEL=1000
    RESPOND PREFIX='info' MSG='initializing A and B axes:'

[gcode_macro SET_ORIGIN]
gcode:
  SET_KINEMATIC_POSITION X=0 Y=0 Z=0 A=0 B=0 E=0

[gcode_macro TEST_POSITION]
gcode:
    RESPOND PREFIX='info' MSG='toolhead: {printer.toolhead.position}'

[gcode_macro HOME]
gcode:
    G90
    SET_KINEMATIC_POSITION A=0 B=0
    G28 Z
    G28 Y
    G28 X
